AZURE_SQL_SERVER="your-server.database.windows.net"
AZURE_SQL_DATABASE="ids_project_db"
AZURE_SQL_USERNAME=SQL authentication username
AZURE_SQL_PASSWORD= SQL authentication password
AZURE_SQL_DRIVER="ODBC Driver 18 for SQL Server"